* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(235, 235, 235);
}

header {
  margin-top: 5%;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

#headings {
  margin-top: 5pc;
  display: flex;
  justify-content: space-evenly;
  font-size: 2pc;
}

#boxes-container {
  margin-top: 2pc;
  display: flex;
  justify-content: space-evenly;
}

#priority-box {
  border: solid;
  border-radius: 5px;
}

#priority-listbox,
#secondary-listbox {
  padding: 10px;
  border: solid;
  border-radius: 5px;
  width: 30%;
}

#priority-listbox {
  background-color: rgb(255, 244, 142);
}

#secondary-listbox {
  background-color: rgb(255, 254, 200);
}

.tasks {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  font-size: 2pc;
}

.tasks p {
  margin: 10px;
  background-color: green;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: gold;
  transition: 0.2s ease-in-out;
  font-size: 20px;
}

input:focus {
  outline: none;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

button {
  background-color: gold;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
}
